html {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

* {
    font-family: Raleway;
}

body {
    margin:0px;
    width: 100%;
    height: 100%;
}

.img_scaled {
    width: 100%;
    display: block;
}

#task_submit {
    cursor: pointer;
    width: 40px;
    float: left;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.result_html {
    display: none;
}
#cover_content {
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
}

#cover_title {
    font-size: 60px;
}

#cover_subtitle {
    font-size: 36px;
    margin-top: 100px;
    font-weight: 100;
    margin-bottom: 25px;
}

#cover {
    height: 100%;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    overflow: auto;
}

#task_form {
    float: left;
}

#tasks {
    overflow: auto;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#task_input {
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid grey;
    transition:0.25s;
    -webkit-transition:0.25s;
}

#task_input:focus {
    border: 1px solid rgba(125, 249, 255, 1);
    outline:none;
}

.footer_image {
    width: 40px;
}

.footer_item {
    overflow: auto;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    -webkit-transition:0.25s;
    transition:0.25s;
}
.footer_item:hover {
    opacity:0.5;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.4);
    z-index: 100;
}

div#footer {}
#rose_image {
    width: 20px;
    padding-left: 15px;
}
.result_box {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 20px;
}

.result_job_box {
    display: inline-block;
    margin-right: 40px;
    width: 150px;
}

.result_client_box {
    display: inline-block;
    margin-left: 40px;
    width: 15px;
    vertical-align: top;
}

#results_container {
    font-size: 25px;
    font-weight: 100;
    overflow: scroll;
    height:0px;
    position: relative;
}
#search_again {
    display: none;
    position: absolute;
    top: 75%;
    text-align: center;
    right: 300px;
    -webkit-transition: 0.25s;
    transition: .25s;
    cursor: pointer;
}
#search_again:hover {
    color: rgba(125, 249, 255, 1);
}
#task_submit:hover {
    color: rgba(125, 249, 255, 1);
}
#results_title {
    position: absolute;
    top: 0;
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    width: 100%;
    display:none;
}
#page_loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 900;
    background: rgba(0,0,0,0.8);
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 300px;
    font-size: 40px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}